@page
@{
    ViewData["Title"] = "Index";
}


<div class="mt-5">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-center">PROMO</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-center">Consiga promoções exclusivas atualizadas em tempo real</h4>
        </div>
    </div>
    <div class="text-center mt-5">
        <p class="warning-text-info">O objetivo deste projeto é demonstrar a utilização da tecnologia SignalR, nenhuma das promoções cadastradas tem alguma validade, são meramentes utilizadas para exemplificar o uso desta tecnologia!</p>
    </div>
</div>