@page
@{
    ViewData["Title"] = "Promotion";
}

<div class="mt-5">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="text-center">Promoções</h1>
        </div>
        <hr />
        <div id="ContentPromotions" class="mt-5"></div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/promotion.js"></script>
}